<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0"><dict>
 <key>CFBundleDevelopmentRegion</key><string>zh-Hans</string>
 <key>CFBundleDisplayName</key><string>MyApp Beta</string>
 <key>CFBundleExecutable</key><string>$(EXECUTABLE_NAME)</string>
 <key>CFBundleIdentifier</key><string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
 <key>CFBundleInfoDictionaryVersion</key><string>6.0</string>
 <key>CFBundleName</key><string>$(PRODUCT_NAME)</string>
 <key>CFBundlePackageType</key><string>APPL</string>
 <key>CFBundleShortVersionString</key><string>$(MARKETING_VERSION)</string>
 <key>CFBundleVersion</key><string>$(CURRENT_PROJECT_VERSION)</string>
 <key>CFBundleURLTypes</key><array><dict>
  <key>CFBundleTypeRole</key><string>Viewer</string>
  <key>CFBundleURLName</key><string>com.xanelove.myapp.beta.chat</string>
  <key>CFBundleURLSchemes</key><array><string>myapp-beta</string></array>
 </dict></array>
 <key>LSRequiresIPhoneOS</key><true/>
 <key>NSCameraUsageDescription</key><string>MyApp Beta 仅在你选择拍照时使用相机，用于发送聊天照片或添加配图。</string>
 <key>NSPhotoLibraryUsageDescription</key><string>MyApp Beta 使用系统照片选择器读取你主动选择的照片。</string>
 <key>UIApplicationSupportsIndirectInputEvents</key><true/>
 <key>UILaunchScreen</key><dict><key>UIColorName</key><string>LaunchBackground</string></dict>
 <key>UIRequiresFullScreen</key><false/>
 <key>UISupportedInterfaceOrientations</key><array>
  <string>UIInterfaceOrientationPortrait</string>
  <string>UIInterfaceOrientationLandscapeLeft</string>
  <string>UIInterfaceOrientationLandscapeRight</string>
 </array>
 <key>UISupportedInterfaceOrientations~ipad</key><array>
  <string>UIInterfaceOrientationPortrait</string><string>UIInterfaceOrientationPortraitUpsideDown</string>
  <string>UIInterfaceOrientationLandscapeLeft</string><string>UIInterfaceOrientationLandscapeRight</string>
 </array>
</dict></plist>
